.grid {
  display: grid;
  grid-gap: 1px;
  grid-template-columns: repeat(3, 1fr);
}

.square {
  width: 100px;
  height: 100px;
  font-size: 5rem;
  color: #f7f6e8;
  border: solid 1px black;
}

.square_o {
  background-color: rgb(46, 161, 214);
}
.square_x {
  background-color: rgb(220, 20, 130);
}

p {
  font-size: 2rem;
}

.reset {
  margin-top: 2rem;
  font-size: 2rem;
  background-color: rgb(47, 245, 252);
  border: none;
  border-radius: 6px;
  padding: 1rem;
  cursor: pointer;
}
